<<<<<<< HEAD
#projects{
    ul, p.header-list {
        li {
            a {
                color: rgba(255, 255, 255, 0.74);
                font-size: 1.1em;
            }
            
            a:hover {
                color: #24ff9a;
                text-decoration: none;
            }
        }
    }
=======
#projects{
    ul, p.header-list {
        li {
            a {
                color: rgba(255, 255, 255, 0.74);
                font-size: 1.1em;
            }
            
            a:hover {
                color: #24ff9a;
                text-decoration: none;
            }
        }
    }
>>>>>>> parent of 4e3331b... resolve problem
}